<div class="container-fluid">
    <div class="col">
        <div class="col-md-6">
            <div class="jumbotron" style="padding: 2rem 1rem;">
                <div class="block">
                    <h2>
                        {{c.ocjena.ime}}
                    </h2>
                    <span>{{c.ocjena.smjer}}</span>
                    <br>
                    <span>{{c.ocjena.ustanova}}</span>
                </div>
                <div class="right jumbotron" style="padding: 1rem 1rem;">
                    <fieldset class="rating" >
                        <input type="radio" id="star5{{c.ocjena.id}}" name="ratingid{{c.ocjena.id}}" ng-model="c.ocjena.ocjena" ng-click="c.ocjeni()" value="5" /><label class = "full" for="star5{{c.ocjena.id}}"></label>
                        <input type="radio" id="star4{{c.ocjena.id}}" name="ratingid{{c.ocjena.id}}" ng-model="c.ocjena.ocjena" ng-click="c.ocjeni()" value="4" /><label class = "full" for="star4{{c.ocjena.id}}"></label>
                        <input type="radio" id="star3{{c.ocjena.id}}" name="ratingid{{c.ocjena.id}}" ng-model="c.ocjena.ocjena" ng-click="c.ocjeni()" value="3" /><label class = "full" for="star3{{c.ocjena.id}}"></label>
                        <input type="radio" id="star2{{c.ocjena.id}}" name="ratingid{{c.ocjena.id}}" ng-model="c.ocjena.ocjena" ng-click="c.ocjeni()" value="2" /><label class = "full" for="star2{{c.ocjena.id}}"></label>
                        <input type="radio" id="star1{{c.ocjena.id}}" name="ratingid{{c.ocjena.id}}" ng-model="c.ocjena.ocjena" ng-click="c.ocjeni()" value="1" /><label class = "full" for="star1{{c.ocjena.id}}"></label>
                    </fieldset>
                </div>
            </div>
        </div>
    </div>
</div>