<nav class="navbar navbar-expand-lg bg-light" ng-show="c.authenticated">
    <div class="container-fluid" class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="nav nav-pills">

            <li ng-class="c.getClass('main')" role="presentation">
                <a ui-sref="main" class="nav-link">Početna</a>
            </li>

            <li ng-class="c.getClass('profile')" role="presentation">
                <a ui-sref="profile" class="nav-link">Moj profil</a>
            </li>

            <li class="nav-item dropdown" ng-show="c.user.role === 'administrator'">
                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                    Administracija
                </a>
                <div class="dropdown-menu">
                    <ul>
                        <li ng-class="c.getClass('ustanove')" role="presentation" ng-show="c.user.role === 'administrator'">
                            <a ui-sref="ustanove" class="dropdown-item inline">
                                <i class="material-icons icon">account_balance</i> Ustanove
                            </a>
                        </li>

                        <li ng-class="c.getClass('smjerovi')" role="presentation" ng-show="c.user.role === 'administrator'">
                            <a ui-sref="smjerovi" class="dropdown-item inline">
                                <i class="material-icons icon">library_books</i> Smjerovi
                            </a>
                        </li>

                        <li ng-class="c.getClass('profesori')" role="presentation" ng-show="c.user.role === 'administrator'">
                            <a ui-sref="profesori" class="dropdown-item inline">
                                <i class="material-icons icon">school</i> Nastavnici
                            </a>
                        </li>

                        <li ng-class="c.getClass('korisnici')" role="presentation" ng-show="c.user.role === 'administrator'">
                            <a ui-sref="korisnici" class="dropdown-item inline">
                                <i class="material-icons icon">supervisor_account</i> Korisnici
                            </a>
                        </li>
                    </ul>
                </div>
            </li>

        </ul>

        <ul class="nav navbar-nav navbar-right">
            <div style="padding-left: 10px; padding-top: 5px; padding-right: 10px;" class="nav-item order-3" role="presentation">
                <span>Prijavljeni ste kao </span>
                <span>{{c.user.username}}</span>
                <a ng-click="c.logout()" class="btn btn-warning btn-sm" style="width: 35%; display: inline;" >Odjavi se</a>
            </div>

        </ul>
    </div>
</nav>
