<div class="container-fluid">
    <div class="col">
        <div class="col-md-12">
            <div class="jumbotron" style="padding: 2rem 1rem;">
                <div class="block">
                    <h2>
                        <a ui-sref="ocjene({x:c.profesor.id})">{{c.profesor.ime}}, {{c.profesor.titula}}</a>
                    </h2>
                    <span>Ustanova: {{c.profesor.ustanova}}</span>
                    <br/>
                    <span>Smjer: {{c.profesor.smjer}}</span>
                    <br/>
                </div>
            </div>
        </div>
    </div>
</div>